<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Charting" version="0.90.5" targetFramework="net451" />
  <package id="MathNet.Numerics" version="2.6.2" targetFramework="net451" />
  <package id="MathNet.Numerics.FSharp" version="2.6.0" targetFramework="net451" />
  <package id="R.NET" version="1.5.5" targetFramework="net451" />
  <package id="RDotNet.FSharp" version="0.1.2.1" targetFramework="net451" />
</packages>